@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "cera";
    src : url("../font/Poppins-Light.ttf");
}

@font-face {
    font-family:"cera-bold";
    src: url("../font/Poppins-Medium.ttf");
}